* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

/* Nav */
.navbar {
    background: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbarLogo {

}

.navlogo {
    width: auto;
    height: 100%;
}

.navbarLogo {
    display: flex;
    align-items: center;
    list-style: none;
}
#navbarLogo {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    padding: 0 20px;
    height: 100%;
    font-size: 2rem;
}

.navbarSocials {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
 }

.SocialElem {
    background: white;
    border-radius: 5px;
}

.socialLogo {

}

.navbarMenu {
    display: flex;
    color: white;
    align-items: center;
    list-style: none;
}

.navbarElem {
    height: 80px;
}

.navbarLinks {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbarLinks:hover {
    color: purple;
}

#navbarLogo {
    cursor: pointer;
}

/* About */

/* Devlog */

/* Projects */

/* Resume */

/* Contact */

/* Footer */